{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Daily Cooking</title>
</head>
<body>
    <h1>Daily Cooking</h1>
    <h3>Organiza tus comidas para la semana...</h3>
    <p>Daily Cooking te proporcionará recetas para la semana con los ingredientes que tengas en tu cocina. Fácil y sin tener que pensar en tu siguiente comida.
        Recuerda ingresar tus restricciones alimentarias para una mejor personalización.
    </p>
    <button onclick="window.location.href='{% url 'ingresar_ingredientes' %}'">Ingresar Ingredientes</button>
    <button onclick="window.location.href='{% url 'ingresar_restricciones' %}'">Ingresar restricciones</button>
    <button onclick="window.location.href='{% url 'agregar_receta' %}'">Añadir receta</button>
</body>
</html>
