{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ingredientes.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>Ingresar Ingredientes</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Eliminar ingrediente sin recargar la página
            document.querySelectorAll('.delete-button').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    const ingrediente = this.dataset.ingrediente;

                    // Realizar la solicitud AJAX
                    fetch("{% url 'ingresar_ingredientes' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-Requested-With": "XMLHttpRequest",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: `eliminar=${ingrediente}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Eliminar el elemento de la lista
                            this.closest('li').remove();
                        } else {
                            alert("Error al eliminar el ingrediente.");
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <h2>DC</h2>
        <div class="banner-buttons">
            {% if user.is_authenticated %}
                <button onclick="window.location.href='{% url 'index' %}'">Volver</button>
            {% endif %}
        </div>
    </header>
    <h1>Ingresar Ingredientes</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Añadir Ingrediente</button>
    </form>

    <h2>Ingredientes Ingresados:</h2>
    {% if ingredientes %}
        <ul id="ingredientes-list">
            {% for ingrediente in ingredientes %}
                <li>
                    {{ ingrediente }}
                    <button class="delete-button" data-ingrediente="{{ ingrediente }}">Eliminar</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <h3>- No hay ingredientes ingresados*</h3>
    {% endif %}

    {% if ingredientes|length >= 5 %}
        <p style="color: red;">Has alcanzado el límite de 5 ingredientes.</p>
    {% endif %}

    <button type="button" onclick="window.location.href='{% url 'mostrar_recetas' %}'">Buscar recetas</button>
</body>
</html>
