{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingresar Ingredientes</title>
</head>
<body>
    <h1>Ingresar Ingredientes</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Añadir Ingrediente</button>
    </form>

    <h2>Ingredientes Ingresados:</h2>
    <ul>
        {% for ingrediente in ingredientes %}
            <li>{{ ingrediente }}</li>
        {% endfor %}
    </ul>

    {% if ingredientes|length >= 5 %}
        <p style="color: red;">Has alcanzado el límite de 5 ingredientes.</p>
    {% endif %}
</body>
</html>
