{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/recetas.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
</head>
<body>
    <header>
        <h2>DC</h2>
        <div class="banner-buttons">
            {% if user.is_authenticated %}
                <button onclick="window.location.href='{% url 'ingresar_ingredientes' %}'">Volver</button>
            {% endif %}
        </div>
    </header>
    <h1>Recetas que coinciden con tus ingredientes</h1>
    
    {% if recetas %}
        <ul>
            {% for item in recetas_ingredientes %}
                <li>
                    <h1 class = titulo>{{ item.receta.nombre }}</h1></br>
                    {{ item.receta.descripcion }}</br>
                    <div>
                        <h2>Método:</h2>
                    </div>
                    {{ item.receta.metodo }}</br>
                    <div>
                        <h2>Ingredientes:</h2>
                    </div>
                    <ul>
                        {% for ingrediente in item.ingredientes %}
                            <li>{{ ingrediente.cantidad }} de {{ ingrediente.nombre }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron recetas que coincidan con tus ingredientes.</p>
    {% endif %}

</body>
</html>