{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Restricciones</title>
</head>
<body>
    <h1>Ingresar Restricciones</h1>
    <!-- Aquí podrías agregar un formulario o contenido para ingresar restricciones -->
    <form>
        <!-- Ejemplo de un campo de texto para ingresar restricciones -->
        <label for="restricciones">Restricciones alimenticias:</label>
        <input type="text" id="restricciones" name="restricciones">
        <button type="submit">Guardar Restricciones</button>
    </form>
</body>
</html>
