{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/restricciones.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Restricciones</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Eliminar restriccion sin recargar la página
            document.querySelectorAll('.delete-button').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    const restriccion = this.dataset.restriccion;

                    // Realizar la solicitud AJAX
                    fetch("{% url 'ingresar_restricciones' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-Requested-With": "XMLHttpRequest",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: `eliminar=${restriccion}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Eliminar el elemento de la lista
                            this.closest('li').remove();
                        } else {
                            alert("Error al eliminar la restriccion.");
                        }
                    });
                });
            });
        });
    </script>
</head>
<body>
    <header>
        <h2>DC</h2>
        <div class="banner-buttons">
            {% if user.is_authenticated %}
            <!-- Botón para volver al inicio -->
            <button onclick="window.location.href='{% url 'index' %}'">Volver</button>
            {% endif %}
        </div>
    </header>
    <h1>Ingresar Restricciones</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Restricción</button>
    </form>

    <h2>Restricciones Actuales</h2>
    {% if restricciones %}
        <ul>
            {% for restriccion in restricciones %}
                    <li>
                        {{ restriccion }}
                        <button class="delete-button" data-restriccion="{{ restriccion }}">Eliminar</button>
                    </li>               
            {% endfor %}
        </ul>
    {% else %}
    <h3>No hay restricciones*</h3> 
    {% endif %}

</body>
</html>
