body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/static/assets/ingredientes.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    color: #333;
    padding-top: 70px; /* Añade espacio superior para evitar superposición con el header */
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#ingredientes div {
    margin-bottom: 20px;
}

header {
    position: fixed; /* Posiciona el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destacar el header */
    z-index: 1000; /* Asegura que el header quede por encima del contenido */
}

header h2 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #333;
}

.banner-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.banner-buttons button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.banner-buttons button:hover {
    background-color: #86d63b;
}